.registration-section {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  margin: 15.6rem;
  text-align: center;
  border: solid 3px var(--yellow);
}

.form-text {
  font-size: 0.8rem;
  color: var(--yellow);
  text-align: right;
  padding: 0;
}

.form-text.notMessage {
  padding: 0,6rem 0;
}

.alert {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
